In [12]:
#%%
import numpy as np
import pandas as pd
import pickle
import category_encoders as ce

from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [13]:

db_genba = pd.read_csv("train_genba.tsv",encoding="utf8",sep="\t")
db_goto = pd.read_csv("train_goto.tsv",encoding="utf8",sep="\t")

#%%
db = pd.merge(db_genba, db_goto, on='pj_no', how='left')

#%%
Y = db["keiyaku_pr"]
X = db.drop("keiyaku_pr",axis=1)

X = X.fillna(0)
Y = Y.fillna(0)

In [14]:
#%%

#タイプがobject(文字列)の列list
list_cols = X.columns[X.dtypes == "object"]
list_cols = list(list_cols)

#%%

# OneHotEncodeしたい列を指定。Nullや不明の場合の補完方法も指定。
ce_oe = ce.OrdinalEncoder(cols=list_cols,handle_unknown='impute')
X = ce_oe.fit_transform(X)



#%%

In [16]:
N_train = int(len(X.index) * 0.8)
N_test = len(X.index) - N_train

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=N_test,shuffle = False)

tuned_parameters = [{'n_estimators':[200,300]}]
clf = GridSearchCV(
    RandomForestRegressor(),
    tuned_parameters,
    cv=3,
    scoring='neg_median_absolute_error',
    n_jobs=-1
)

clf.fit(X_train,list(Y_train))

clf = clf.best_estimator_


#%%

In [19]:
pred = clf.predict(X_test)

In [34]:
def cal_mape(A,B):
    return(np.sum(np.abs((A-B)/B))*(100/len(A)))

In [35]:
cal_mape(pred,Y_test.values)

12.192776300696613

In [61]:
db_genba_t = pd.read_csv("test_genba.tsv",encoding="utf8",sep="\t")
db_goto_t = pd.read_csv("test_goto.tsv",encoding="utf8",sep="\t")

#%%
X_t = pd.merge(db_genba_t, db_goto_t, on='pj_no', how='left')

X_t = ce_oe.fit_transform(X_t)
X_t = X_t.fillna(0)

In [69]:
pred = clf.predict(X_t)
pred = np.round(pred)
print(pred)

[20702799. 26339844. 26581019. ... 29668359. 29219233. 27205090.]

In [70]:
pred = pred.astype(np.int64)
print(pred)

[20702799 26339844 26581019 ... 29668359 29219233 27205090]

In [71]:
db_sample = pd.read_csv("sample_submit.tsv",encoding="utf8",sep="\t", names=('name', 'keiyaku_pr'))

In [72]:
db_sample["keiyaku_pr"] = pred

In [73]:
db_sample

           name  keiyaku_pr
0     test_0000    20702799
1     test_0001    26339844
2     test_0002    26581019
3     test_0003    27193308
4     test_0004    27032226
5     test_0005    26582044
6     test_0006    26957933
7     test_0007    26803754
8     test_0008    26380478
9     test_0009    28603233
10    test_0010    26927744
11    test_0011    33426301
12    test_0012    35814815
13    test_0013    37324698
14    test_0014    26768329
15    test_0015    26423720
16    test_0016    20434380
17    test_0017    20664752
18    test_0018    20407040
19    test_0019    20930152
20    test_0020    21061119
21    test_0021    20683042
22    test_0022    20617952
23    test_0023    20014696
24    test_0024    20532730
25    test_0025    20683042
26    test_0026    20431047
27    test_0027    20367384
28    test_0028    20392042
29    test_0029    20257284
...         ...         ...
4243  test_4243    39892042
4244  test_4244    40091178
4245  test_4245    26968850
4246  test_4246    32635410
4247  test_4247    22877765
4248  test_4248    22654493
4249  test_4249    22393527
4250  test_4250    23055799
4251  test_4251    27160574
4252  test_4252    29398905
4253  test_4253    30276699
4254  test_4254    27554147
4255  test_4255    28256862
4256  test_4256    22921586
4257  test_4257    23657283
4258  test_4258    27872336
4259  test_4259    28178389
4260  test_4260    31880537
4261  test_4261    25469367
4262  test_4262    25442596
4263  test_4263    34215942
4264  test_4264    19058311
4265  test_4265    36329116
4266  test_4266    36143440
4267  test_4267    21621374
4268  test_4268    21555124
4269  test_4269    23569254
4270  test_4270    29668359
4271  test_4271    29219233
4272  test_4272    27205090

[4273 rows x 2 columns]

In [75]:
db_sample.to_csv('sample_submit.tsv',header=False,index=False,sep="\t")